<div *ngFor="let animal of animals" class="container-fluid">
  <div class="container mt-2">
    <div class="row">
      <div class="col-sm">
        <img [(src)]="animal.imageUrl" alt="{{animal.type}}"/>
      </div>
      <ul class="list-group col-sm pt-3">
        <li class="list-group-item">id: {{animal.id}}</li>
        <li class="list-group-item">{{animal.type}}</li>
        <li class="list-group-item">{{animal.age}}</li>
        <li class="list-group-item">{{animal.color}}</li>
        <li class="list-group-item">{{animal.favoriteFood}}</li>
      </ul>
    </div>
  </div>
</div>
