<table class="table mt-2">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">City</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let adopter of adopters">
    <td>{{adopter.id}}</td>
    <td>{{adopter.name}}</td>
    <td>{{adopter.age}}</td>
    <td>{{adopter.city}}</td>
    <td>{{adopter.gender}}</td>
  </tr>
  </tbody>
</table>
